.rounded-border-input {
    border-radius: 5px;
    border: 1px solid #ced4da;
}

.gallery_image {
    margin: 5px;
    border: 3px solid #ced4da;
    border-radius: 5px;
}

.upload_images {
    display: block;
    padding: .5rem 1rem;
    color: rgb(60, 60, 60);
}

.folders_list {
    display: inline;
    padding: .5rem 1rem;
}

.folders_radio_btn {
    margin-right: .5rem;
}

.level_radio_btn {
    margin-right: .5rem;
}