<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DndMapEditor</title>

    <!-- Bootstrap Style Dependencies -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/my-style.css">
</head>
<body>
<div class="container-fluid content" style="background-color: #eff9f9; min-height: 100%; overflow: scroll;">
    <div class="row h-75">
        <div class="col-md-2">
            <div class="row mt-4 pl-2">
                <div class="form-check">
                    <div class="radio">
                        <label>
                            <input value="1" type="radio" name="level_radio" class="level_radio_btn" checked>1° Level
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input value="2" type="radio" name="level_radio" class="level_radio_btn">2° Level
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input value="3" type="radio" name="level_radio" class="level_radio_btn">3° Level
                        </label>
                    </div>
                </div>
            </div>
            <div class="row mt-4 pl-2">
                <a class="upload_images" href="/upload_images"><i class="fas fa-cloud-upload-alt"></i> Upload Images </a>
            </div>
            <div class="row mt-2 pl-2">
                <div class="form-check">
                    <% for (var i = 0; i < folders.length; i++) { %>
                        <div class="radio">
                            <label>
                                <input value="<%= folders[i] %>" id="folder_<%= i %>" type="radio" name="folder_radio" class="folders_radio_btn"><%= folders[i] %>
                            </label>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="col-md-8 p-0">
            <canvas id="canvas" style="border: 1px solid black; margin-top: 5px; border-radius: 3px;"></canvas>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
            <div class="container text-center">
                <div class=" mt-2 mb-1" id="images_gallery">
                    <!--Images Gallery Here-->
                </div>
            </div>
        </footer>
    </div>
</div>

<!-- Bootstrap Script Dependencies -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

<!-- My Scripts -->
<script src="/js/utilities_index.js"></script>
<script src="/ts/Main.js" type="module"></script>
</body>
</html>